<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    cacheDirectory=".phpunit.cache"
    colors="true"
>
    <testsuites>
        <testsuite name="all">
            <directory>tests/unit</directory>
            <directory>tests/regression</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="regression">
            <directory>tests/regression</directory>
        </testsuite>
    </testsuites>
</phpunit>
