<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    cacheDirectory=".phpunit.cache"
    colors="true"
>
    <source>
        <include>
            <file>includes/class-creatorreactor-banner.php</file>
            <file>includes/class-creatorreactor.php</file>
            <file>includes/class-editor-context.php</file>
            <file>includes/class-creatorreactor-onboarding.php</file>
            <file>includes/class-creatorreactor-shortcodes.php</file>
            <file>includes/class-creatorreactor-wp-login.php</file>
        </include>
    </source>
    <testsuites>
        <testsuite name="all">
            <directory>tests/unit</directory>
            <directory>tests/regression</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="regression">
            <directory>tests/regression</directory>
        </testsuite>
    </testsuites>
</phpunit>
